---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";
import { getLangFromUrl, LANGUAGES_KEYS } from "i18n/utils";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const lang = getLangFromUrl(Astro.url);
const sortedPosts = getSortedPosts(posts, lang);
export async function getStaticPaths() {
  return LANGUAGES_KEYS.map(lang => {
    return {
      params: { lang },
    };
  });
}

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" {lang} />
  <Main pageTitle="Search" pageDesc="Search any article ..." {lang}>
    <SearchBar client:only searchList={searchList} />
  </Main>
  <Footer />
</Layout>
